<ion-toolbar class="cart-toolbar">
  <ion-buttons (click)="navigateBack()" class=" animated animatedFadeIn fadeInLeft" style="position: absolute;">
    <ion-button color="dark">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-row *ngFor="let s of shopinfo" style="text-align: center;"
    class="sub-shop-info animated animatedFadeIn fadeInDown">
    <ion-col size="12" style="padding-left: 30px;">
      <ion-label class="shop-header headertitle">
        {{s.shop_name}}
      </ion-label>
    </ion-col>
    <ion-col size="12" *ngIf="s.address">
      <ion-label class="myanmar secondtitle">
        {{s.address}}
      </ion-label>
    </ion-col>
    <ion-col size="12">
      <ion-label class="myanmar secondtitle">
        {{s.date}}
      </ion-label>
    </ion-col>
  </ion-row>


</ion-toolbar>
<ion-content>

  <!-- Loading Controller -->
  <div *ngIf="isLoading" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>


  <!-- Order Session -->
  <div class="animated animatedFadeIn fadeInUp" style="padding: 5px;" *ngIf="!isLoading && !confirmDisabled">
    <!----------------- order cart [start] --------------->
    <ion-item lines="none" detail="false" class="required-stock  stock-header">
      <ion-label class="headertitle">Order Products</ion-label>
    </ion-item>

    <div class="required-stock-inner">
      <ion-list class="sub-list-inner" *ngFor="let cp of cart;let i = index;">
        <!-- Brand Owner Session -->
        <ion-item (click)="toggleOrder(i)" button lines="none" detail="false"
          class="required-stock re-item header-category-item ">
          <ion-label class="headertitle">{{cp.name}}</ion-label>
          <ion-icon *ngIf="!cp.open" name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="cp.open" name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <div *ngIf="cp.open && !cp.isLoading" class="required_stock_brand_inner">
          <!-- stock card with promotion session -->
          <ion-card class="card-wrapper fadeIN" *ngFor="let h of cp.child;let index = index;">
            <ion-virtual-scroll approxItemHeight="100px" [items]="h.rule">
              <ion-list style="padding: 5px 0;width: 100%;" *virtualItem="let p;let i = index;">
                <!-- stock card item  -->
                <div class="custom-card fadeIN">
                  <div class="custom-card-left" (click)="photoViewer(p.syskey)">
                    <p *ngIf="p.promoItems.length > 0 || p.multiplePromo" class="promotion-status">Pro</p>
                    <app-image-shell [src]="p?.img" [alt]="'Sample Image'">
                    </app-image-shell>
                  </div>
                  <div class="custom-card-right">
                    <ion-item lines="none" style="--inner-padding-end: 4px;">
                      <p class="stockname secondtitle">
                        {{p.desc}}
                      </p>
                    </ion-item>
                    <ion-row>
                      <ion-col size="4" style="padding-left: 10px;">
                        <ion-label>{{p.amount}}</ion-label>
                      </ion-col>
                      <ion-col size="4" class="price secondtitle" style="justify-content: center;">
                        <ion-label> {{p.price}}</ion-label>
                      </ion-col>
                      <ion-col size="4" class="price secondtitle">
                        <ion-label> {{p.total}}</ion-label>
                        <div *ngIf=" p.discountPercent != 0 || p.discountPercent != '' " class="cutpercent">
                          <span style="margin-right: 5px;text-decoration-line: line-through;
                    color: grey;">{{p.price * p.amount}}</span>
                          -{{p.discountPercent}}%</div>
                      </ion-col>
                    </ion-row>
                  </div>
                </div>

                <!-- <ul class="gift-list fadeIN">
                  <li class="gift-list-item with-padding">
                    <span>
                      {{gift.discountItemDesc}}
                    </span>
                    <span class="qty-badge qty-badge-primary qty-badge-pill">{{gift.discountItemQty}}</span>
                  </li>
                </ul> -->


                <ul class="gift-list fadeIN" *ngIf="p.gifts && p.gifts.length > 0" style="background-color: white;">
                  <li class="gift-list-item gift-list-item-buy-get">
                    <ion-row>
                      <ion-col size="12">
                        <span style="color: black;">Gift</span>
                      </ion-col>
                    </ion-row>
                  </li>
                  <li class="gift-list-item with-padding" *ngFor="let gift of p.gifts">
                    <span>
                      {{gift.discountItemDesc}}
                    </span>
                    <span class="qty-badge qty-badge-primary qty-badge-pill">{{gift.discountItemQty}}</span>
                  </li>
                </ul>


                <ion-list *ngIf="p.multigift && i+ 1 == h.rule.length" style="padding: 0;">
                  <ul class="gift-list" style="background-color: white;">
                    <li class="gift-list-item gift-list-item-buy-get">
                      <ion-row>
                        <ion-col size="12">
                          <span style="color: black;">Gift</span>
                        </ion-col>
                      </ion-row>
                    </li>
                    <li class="gift-list-item with-padding">
                      <span>
                        {{p.multigift.discountItemDesc}}
                      </span>
                      <span class="qty-badge qty-badge-primary qty-badge-pill">{{p.multigift.discountItemQty}}</span>
                    </li>
                  </ul>
                </ion-list>
              </ion-list>
            </ion-virtual-scroll>
          </ion-card>

          <!--Invoice  Promotion gifts-->
          <ion-item (click)="giftToggleSection(i)" *ngIf="cp.gift" button lines="none"
            [ngClass]="!cp.giftopen ? 'custom-border-bottom' : ''" detail="false"
            class="required-stock re-item custom-item fadeIN">
            <ion-label class="headertitle">Invoice Gift</ion-label>
            <ion-icon *ngIf="!cp.giftopen" name="chevron-forward-outline" slot="end"></ion-icon>
            <ion-icon *ngIf="cp.giftopen" name="chevron-down-outline" slot="end"></ion-icon>
          </ion-item>
          <div *ngIf="cp.gift && cp.giftopen" class="gift-list-bd fadeIN">
            <ul class="gift-list">
              <li class="gift-list-item with-padding" *ngFor="let gift of cp.gifts">
                <span>
                  {{gift.GiftDesc}}
                </span>
                <span class="qty-badge qty-badge-primary qty-badge-pill">{{gift.GiftQty}}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Loading -->
        <div *ngIf="cp.isLoading" class="spinner-container-cart">
          <ion-spinner></ion-spinner>
        </div>


        <!-- summary -->
        <ion-grid class="orderbygrid secondtitle fadeIN">
          <ion-row>
            <ion-col> Subtotal <span style="float: right"> : </span></ion-col>
            <ion-col style="text-align: right;">
              <span *ngIf="!cp.isLoading"> {{util.thousand_sperator(cp.subtotal)}} </span>
              <span *ngIf="cp.isLoading">Calculating...</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> <span style="float: right"> : </span> Discount Amount ({{cp.invdisper}} %) </ion-col>
            <ion-col style="text-align: right;">
              <span *ngIf="!cp.isLoading">{{util.thousand_sperator(cp.invdisamount)}} </span>
              <span *ngIf="cp.isLoading">Calculating...</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> <span style="float: right"> : </span> Total Amount</ion-col>
            <ion-col style="text-align: right;">
              <span *ngIf="!cp.isLoading">{{util.thousand_sperator(cp.total)}} </span>
              <span *ngIf="cp.isLoading">Calculating...</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
    <!----------------- order cart [end] --------------->


    <!----------------- returned product cart[start] --------------->
    <ion-item *ngIf="returnedproduct.length > 0" lines="none" detail="false"
      class="required-stock stock-header headertitle">
      <ion-label>Return Products</ion-label>
    </ion-item>
    <div class="required-stock-inner" *ngIf="returnedproduct.length > 0">
      <ion-list class="sub-list-inner" *ngFor="let rp of returnedproduct;let i = index;">
        <ion-item (click)="toggleBrand(i)" button lines="none" detail="false"
          class="required-stock re-item header-category-item">
          <ion-label class="headertitle">{{rp.name}}</ion-label>
          <ion-icon *ngIf="!rp.open" name="chevron-forward-outline" slot="end"></ion-icon>
          <ion-icon *ngIf="rp.open" name="chevron-down-outline" slot="end"></ion-icon>
        </ion-item>
        <div *ngIf="rp.open" class="required_stock_brand_inner required_stock_brand_inner_return">
          <div class="card-wrapper fadeIN" *ngFor="let p of rp.child;let index of index;">
            <div class="custom-card">
              <div class="custom-card-left">
                <app-image-shell [src]="p?.img" [alt]="'Sample Image'" (click)="photoViewer(p.syskey)">
                </app-image-shell>
              </div>
              <div class="custom-card-right">
                <ion-item lines="none" style="--inner-padding-end: 8px;">
                  <p class="stockname secondtitle">
                    {{p.desc}}
                  </p>
                </ion-item>
                <ion-row>
                  <ion-col size="4" style="padding-left: 10px;">
                    <ion-label>{{p.amount}}</ion-label>
                  </ion-col>
                  <ion-col size="4" class="price secondtitle" style="justify-content: center;">
                    <ion-label> {{p.price}}</ion-label>
                  </ion-col>
                  <ion-col size="4" class="price secondtitle">
                    <ion-label> {{p.total}}</ion-label>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>

        </div>
      </ion-list>
      <ion-grid class="orderbygrid secondtitle">
        <ion-row>
          <ion-col> Subtotal <span style="float: right"> : </span></ion-col>
          <ion-col style="text-align: right;"> {{util.thousand_sperator(returnsubtotal)}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!----------------- returned product cart[end] --------------->
    <br>
    <ion-item lines="none" style="--background: transparent;--border-width: 1px;">
      <ion-label position="floating" class="headertitle">Remark :</ion-label>
      <ion-textarea [(ngModel)]="remark"></ion-textarea>
    </ion-item>
    <br><br>

    <div class="keyboard"></div>

  </div>
</ion-content>

<ion-footer *ngIf="!isLoading">
  <ion-grid class="fo-button-box">
    <ion-row>
      <ion-col *ngIf="confirmDisabled">
        <ion-button (click)="completeVisit()" expand="block" color="custom">Complete Visit
        </ion-button>
      </ion-col>
      <ion-col *ngIf="!confirmDisabled">
        <ion-button [disabled]="btnDisabled" (click)="completeVisit()" expand="block" color="custom">Complete Visit
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="printQ()" [disabled]="printDisabled" expand="block" color="custom">Print
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="btnDisabled" [disabled]="confirmDisabled" expand="block" color="custom"
          (click)="orderSubmit()">Order Confirm
        </ion-button>
        <ion-button *ngIf="!btnDisabled" expand="block" color="custom" (click)="orderUpdate()">
          Order Update
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>