ion-content,
.cart-toolbar {
    --background: whitesmoke;
}

ion-item {
}
.re-item {
    border: 0 !important;
}
ion-segment-button {
    min-width: auto !important;
}
ion-list {
    background: transparent !important;
}
ion-segment-button:first-child {
    min-width: 20% !important;
}

.box-segment {
    background-color: whitesmoke;
    .sub-box-segment {
        margin-right: 5px;
        margin-left: 5px;
        padding: 5px;
        border-bottom: 1px solid rgba(146, 145, 145, 0.664);
    }
}

ion-badge {
    position: absolute;
    right: 2px;
    top: 3px;
}
.header-category-item {
    position: sticky;
    top: 0;
    z-index: 4;
}
// return stock
.custom-card {
    display: inline-flex;
    width: 100%;
    // margin-bottom: 5px;
    .custom-card-left {
        width: 25%;
        background-color: white;
        // border: 1px solid #dbdbdb;
        border-radius: 5px;
        position: relative;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--ion-color-border);

        img {
            height: 60px;
            object-fit: fill;
            // height: 100px;
            border-radius: 5px;
        }
    }
    .custom-card-right {
        width: 75%;
        margin-left: 5px;
        // border: 1px solid #dbdbdb;
        background-color: white;
        border-radius: 5px;
        border: 1px solid var(--ion-color-border);

        // margin-right: 5px;
        ion-item {
            --background: transparent !important;
            border-bottom: none;
            --inner-padding-start: 0;
            --padding-start: 7px;
            p {
                font-size: calc(0.7em + 3px);
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                color: var(--ion-color-custom);
            }
            ion-label {
                font-size: calc(0.7em + 3px);
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                color: var(--ion-color-custom);
            }
        }
        .row-box {
            position: relative;
            background-color: #e2e2e2c9;
            border-radius: 5px;
            margin-right: 5px;
            margin-left: 5px;
            margin-bottom: 5px;
            ion-icon {
                font-size: 20px;
            }
            ion-input {
                width: 20px;
            }
            ion-button {
                margin: 0 !important;
                padding: 0 !important;
                height: 30px;
                margin: 3px;
                margin-left: -1px;
            }
        }
        .label {
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .add-qty,
        .dec-qty {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 7px;
            border-radius: 5px;
            color: var(--ion-color-custom);
        }
        ion-row,
        ion-col {
            margin: 0;
            padding: 0;
        }
        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            ion-label {
                margin-left: 1px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                right: 5px;
            }
        }
        .addbutton {
            float: right !important;
        }
        ion-button {
            margin-left: 0em;
        }
        .add-to-cart {
            width: 90%;
            margin-left: 15px;
            text-transform: inherit;
            margin-bottom: 10px !important;
        }
    }
}

.pnf {
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // background: rgba(0, 0, 0, 0.2);

    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    /* padding-left: 10px; */
    height: 100%;
    z-index: 2;
    width: 100%;
    border-radius: 5px;
    background: rgb(240 12 12 / 93%);
}
.required_stock_brand_inner {
    background: #0000001f;
    /* padding-left: 5px; */
    padding: 5px;
    padding-bottom: 1px;
}
.order-stock-inner {
    background: #0000001f;
}
.stock-header {
    text-align: center;
    --background: var(--ion-color-custom) !important;
    color: white !important;
}
.card-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
}
//  for simple stock
// .custom-card {
//     display: inline-flex;
//     width: 100%;
//     margin-top: 5px;
//     .custom-card-left {
//         width: 125px;
//         background-color: white;
//         // border: 1px solid #dbdbdb;
//         border-radius: 5px;
//         padding: 5px;
//         display: flex;
//         img {
//             object-fit: cover;
//             height: 105px;
//             border-radius: 5px;
//         }
//     }
//     .custom-card-right {
//         width: 95%;
//         margin-left: 10px;
//         // border: 1px solid #dbdbdb;
//         background-color: white;
//         border-radius: 5px;
//         ion-item {
//             --background: transparent !important;
//             border-bottom: none;
//             div {
//                 height: 60px;
//             }
//             p {
//                 overflow: hidden;
//                 text-overflow: ellipsis;
//                 white-space: nowrap;
//             }
//             ion-label {
//                 font-size: calc(0.7em + 3px);
//                 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
//                 color: var(--ion-color-custom);
//                 width: 140px;
//             }
//         }
//         .row-stock-box,
//         .qty-desc-inc {
//             width: 90%;
//             margin: 0 !important;
//             margin-left: 6% !important;
//             padding: 0 !important;
//         }
//         .qty-desc-inc {
//             background-color: #e2e2e2c9;
//             border-radius: 5px;
//             ion-icon {
//                 font-size: 20px;
//             }
//             ion-input {
//                 width: 20px;
//             }
//             ion-button {
//                 margin: 0 !important;
//                 padding: 0 !important;
//                 height: 30px;
//                 margin: 3px;
//                 margin-left: -1px;
//             }
//             ion-row,
//             ion-col {
//                 margin: 0;
//                 padding: 0;
//                 // height: 30px;
//             }
//         }
//         .qty {
//             margin: 0;
//             padding: 0;
//             height: 40px;
//             .first {
//                 margin-left: 10px;
//                 color: green;
//             }
//         }
//         ion-button {
//             margin-left: 0em;
//         }
//         .add-to-cart {
//             width: 90%;
//             margin-left: 15px;
//             text-transform: inherit;
//             margin-bottom: 10px !important;
//         }
//     }
// }

.summary-list {
    padding: 0;
    margin: 10px;
    // padding: 5px;
    // margin: 5px;
    // box-shadow: 0px 1px 4px 0px #cbcbcb;
    // background: white !important;
}
.box {
    padding: 0;
    /* border: 1px solid var(--ion-color-border); */
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px 0px #cbcbcb;
    background: white !important;

    .header {
        border-bottom: 1px solid var(--ion-color-border);
        text-align: center;
    }
    .footer {
        border-top: 1px solid var(--ion-color-border);
    }
    .header-data-empty {
        border-bottom: 0 !important;
        text-align: center;
    }
    span {
        float: right;
    }
}
.fo-box {
    border: 1px solid rgba(146, 145, 145, 0.664);
    // border-radius: 5px;
    padding: 1px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.fo-right {
    text-align: right;
}
.fo-button-box {
    padding: 0;
    margin: 0;
    ion-row {
        margin: 2px;
        ion-col {
            padding: 0;
            margin: 0;
        }
    }
}
.required-stock {
    border: 1px solid var(--ion-color-border);
    border-bottom: 0;
}
.required-stock-inner {
    padding: 5px;
    padding-bottom: 0;
    border: 1px solid var(--ion-color-border);
    border-top: 0;
    margin-bottom: 5px;

    .sub-list-inner {
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }
}
.summary {
    text-align: right;
    padding-right: 10px;
}
ion-buttons {
    margin: 0;
    padding: 0;
}
