ion-list-header {
    font-size: 18px;
    font-weight: bold;

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;

    ion-label {
        display: grid;
        span {
            font-size: 13px;

            margin-top: 5px;
            color: var(--ion-color-medium-tint);
        }
    }
}

.row-box {
    background-color: #e2e2e2c9;
    border-radius: 5px;
    width: 35%;
    margin: 5px 0 5px 15px;
    ion-icon {
        font-size: 20px;
    }
    ion-input {
        width: 20px;
    }
    ion-button {
        margin: 0 !important;
        padding: 0 !important;
        height: 30px;
        margin: 3px;
        margin-left: -1px;
    }
}

.add-qty,
.dec-qty {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7px;
    border-radius: 5px;
    color: var(--ion-color-custom);
}

ion-footer {
    background: white;

    ion-button {
        float: right;
        margin-right: 3%;
        margin-bottom: 3%;
    }
}

.check-container {
    vertical-align: middle;
    display: -webkit-inline-box;
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
}
.check-container .checkmark,
.check-container .checkmarknone {
    margin-right: 5px;
}
.checkmark {
    background-color: var(--ion-color-custom);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark,
.checkmarknone {
    position: relative;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    display: block;
}
.checkmarknone {
    border: 2px solid rgba(0, 0, 0, 0.54);
}
